{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text">
            Your story can empower, heal, and educate. It starts an important conversation that isn't welcome in most public education settings. Telling your story might change someone else's. <br><br>
            
            YES! invites you to anonymously share your experiences with us. We are grateful for anything you'd like to share, and would love to hear happy sex-positive stories as well as the tough stuff.  You can share as many stories as you want.</p>
        <a href="#"
           class="btn btn-danger">Share your story!</a>
    </div>
</div>
</div>

{% endblock sidebar %}